.more__songs {
    padding: 3rem;
}

.more__songs .songs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.more__songs .song {
    flex: 47% 0 0;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 0 20px #eee;
}

.more__songs .song__cover {

}

.more__songs .song__details {
    flex: 1;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.more__songs .song__title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.more__songs .song__author {
    font-size: .8em;
    font-weight: 600;
}

.more__songs .song__repetitions {
    color: white;
    display: block;
    padding: .6em;
    font-weight: 600;
    background-color: var(--purple-color);
}