.featured__song {
    padding: 3rem 0;
}

.featured__song  .song {
    padding: 3em;
    border-radius: var(--default-border-radius);
    width: 40%;
    height: 280px;
    margin: 5em auto;
    background: white;
    display: flex;
    text-align: left;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 20px #eee;
}

.featured__song .song__cover {
    position: absolute;
    top: -35px;
    right: -35px;
    max-width: 250px;
}

.featured__song .button--secondary {
    margin-top: 25px;
}

.featured__song .song__cover img {
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 20px #eee;
    max-width: 100%;
}

.featured__song .song__title {
    font-size: 2em;    
    font-weight: bold;
    margin-bottom: 1rem;
}

.featured__song .song__author {
    font-size: 1.2em;
    font-weight: 600;
}

.featured__song .song__repetitions {
    top: 15px;
    left: -15px;
    color: white;
    padding: .6em 4em;
    font-size: 1.2em;
    font-weight: 600;
    position: absolute;
    text-align: center;
    border-radius: var(--default-border-radius);
    text-transform: uppercase;
    background-color: var(--purple-color);
}
    
