.search {
    padding: 8em 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--purple-color);
}

.search__header {
    color: white;
    margin-bottom: 2rem;
}

.search__header .header__title {
    color: white;
    font-size: 3.4em;
    margin-bottom: 1.5rem;
}

.search__header .header__description {
    font-size: 1.5em;
    font-weight: 300;
}

.search__form {
    width: 500px;
}

.search__form ::-webkit-input-placeholder { 
    font-size: 1em;
}

.search__form .form__input {
    width: 100%;
    padding: 1rem;
    border-radius: var(--default-border-radius);
    font-size: 1.2em;
}

.search__form .form__actions {
    display: flex;
    margin-top: 2em;
}

.search__form .button--primary {
    flex: 1;
    margin-left: 1em;
}