@import './assets/css/base/reset.css';
@import './assets/css/base/boot.css';
@import './assets/css/components/block.css';
@import './assets/css/components/button.css';


body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  